# menu 'Drift'
Plugins>EFTEMj>Drift, "Correct drift", drift.DriftDetectionPlugin
Plugins>EFTEMj>Drift, "Shift slices", drift.StackShifterPlugin

# menu 'ESI'
Plugins>EFTEMj>ESI, "Create elemental map", elemental_map.ElementalMappingPlugin

# menu 'SR-EELS'
Plugins>EFTEMj>SR-EELS, "Calibrate dispersion", sr_eels.SR_EELS_DispersionCalibrationPlugin
Plugins>EFTEMj>SR-EELS, "Setup dispersion values", sr_eels.SR_EELS_DispersionConfigurationPlugin

# menu 'SR-EELS>deprecated'
Plugins>EFTEMj>SR-EELS>deprecated, "Correct SR-EELS", sr_eels.deprecated.SR_EELS_CorrectionPlugin
Plugins>EFTEMj>SR-EELS>deprecated, "Correct SR-EELS (skip detection)", sr_eels.deprecated.SR_EELS_CorrectionOnlyPlugin

# menu 'Tools'
Plugins>EFTEMj>Tools, "Transfer calibration", tools.CalibrationTransferPlugin

# menu 'Tutorials'
Plugins>EFTEMj>Tutorials, "ESI tutorial", tutorials.Tutorial_ESI
Plugins>EFTEMj>Tutorials, "Drift correction tutorial", tutorials.Tutorial_Drift