Plugins>EFTEMj>Drift, "Correct drift", drift.DriftDetectionPlugin
Plugins>EFTEMj>Drift, "Shift slices", drift.StackShifterPlugin
Plugins>EFTEMj>ESI, "Create elemental map", elemental_map.ElementalMappingPlugin
Plugins>EFTEMj>SR-EELS, "Correct SR-EELS", sr_eels.SR_EELS_CorrectionPlugin
Plugins>EFTEMj>SR-EELS, "Correct SR-EELS (skip detection)", sr_eels.SR_EELS_CorrectionOnlyPlugin
Plugins>EFTEMj>SR-EELS, "Calibrate dispersion", sr_eels.SR_EELS_DispersionCalibrationPlugin
Plugins>EFTEMj>SR-EELS, "Setup dispersion values", sr_eels.SR_EELS_DispersionConfigurationPlugin
Plugins>EFTEMj>Tools, "Transfer calibration", tools.CalibrationTransferPlugin