Plugins>EFTEMj, "Correct drift", drift.DriftDetectionPlugin
Plugins>EFTEMj, "Shift stack", drift.StackShifterPlugin
Plugins>ESI>EFTEMj, "Create elemental map", elemental_map.ElementalMappingPlugin
Plugins>SR-EELS>EFTEMj, "Correct SR-EELS", sr_eels.SR_EELS_CorrectionPlugin
Plugins>SR-EELS>EFTEMj, "Correct SR-EELS (no detection)", sr_eels.SR_EELS_CorrectionOnlyPlugin
Plugins>EFTEMj>SR-EELS, "Calibrate dispersion", sr_eels.SR_EELS_DispersionCalibrationPlugin
Plugins>EFTEMj>SR-EELS, "Setup dispersion values", sr_eels.SR_EELS_DispersionConfigurationPlugin